<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myth.system.mysql.mapper.SysTableMapper">
    <select id="getAllSysTableConfigByTableSchema" resultType="com.myth.system.mysql.bean.SysTable">
        select * from
            information_schema.TABLES LEFT JOIN sys_table_config on information_schema.TABLES.table_name = sys_table_config.table_name
        WHERE information_schema.TABLES.TABLE_SCHEMA = #{tableSchema} and information_schema.TABLES.TABLE_NAME not like 'sys_%' ORDER BY information_schema.TABLES.TABLE_NAME
    </select>
    <select id="getSysTableConfigByName" resultType="com.myth.system.bean.SysTableConfig">
        select * from sys_table_config where table_name = #{tableName}
    </select>
    <insert id="addSysTableConfig" parameterType="com.myth.system.bean.SysTableConfig">
        INSERT INTO sys_table_config
            ( table_name, content)
        VALUES
            (#{tableName},#{content})
    </insert>
    <update id="editSysTableConfig" parameterType="com.myth.system.bean.SysTableConfig">
        update sys_table_config set content=#{content} where table_name = #{tableName}
    </update>
    <delete id="deleteSysTableConfigByIds" parameterType="com.myth.system.bean.SysTableConfig">
        delete from sys_table_config where table_name in
        <foreach collection="ids" item="id"  separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 列信息操作 -->
    <select id="getTableColumnByTable" resultType="com.myth.system.mysql.bean.SysTableColumn">
        SELECT * from information_schema.COLUMNS where table_schema = #{tableSchema} and table_name = #{tableName} ORDER BY ordinal_position;
    </select>
    <select id="getKeyColumnUsageByColumn" resultType="com.myth.system.mysql.bean.SysKeyColumnUsage">
        select * from information_schema.key_column_usage where constraint_schema = #{tableSchema} and table_name = #{tableName} and column_name = #{columnName}
    </select>
    <select id="getTableColumnByName" resultType="com.myth.system.mysql.bean.SysTableColumn">
        SELECT * from information_schema.COLUMNS where table_schema = #{tableSchema} and table_name = #{tableName} and column_name = #{columnName};
    </select>
    <select id="getDictClassAll" resultType="com.myth.system.bean.SysDictClass">
        SELECT * from sys_dict_class
    </select>
    <select id="getStateClassAll" resultType="com.myth.system.bean.SysStateClass">
        SELECT * from sys_state_class
    </select>
</mapper>