<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myth.system.mapper.SysRoleMenuRelationMapper">

    <insert id="addSysRoleMenuRelation" parameterType="com.myth.system.bean.SysRoleMenuRelation">
        INSERT INTO sys_role_menu_relation
            ( role_id,menu_id)
        VALUES
            (#{roleId},#{menuId})
    </insert>
    <delete id="deleteSysRoleMenuRelation" parameterType="com.myth.system.bean.SysRoleMenuRelation">
        delete from sys_role_menu_relation where role_id in
        <foreach collection="roleIds" item="id"  separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getSysRoleMenuRelationByRoleId" resultType="com.myth.system.bean.SysRoleMenuRelation">
        select * from sys_role_menu_relation where role_id = #{roleId}
    </select>
    <delete id="deleteSysRoleMenuRelationById" parameterType="com.myth.system.bean.SysRoleMenuRelation">
        delete from sys_role_menu_relation where id = #{id}
    </delete>
    <select id="getSysRoleMenuRelationByRoleIdAndMenuId" resultType="com.myth.system.bean.SysRoleMenuRelation">
        select * from sys_role_menu_relation where role_id = #{roleId} and menu_id = #{menuId}
    </select>

</mapper>